main {
    max-width: 1440px;
    margin: auto;
}

body {
    margin: 20px;
    background: black;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

section {
    background: #333;
}

section > div {
    background-image: linear-gradient(black, #333);
    padding: 1rem;

}

table {
    margin-top: 0;
    background-image: linear-gradient(#333, black);
    
}

table, th, td {
    table-layout: fixed;
    width: 100%; 
    height: 20px;
    max-height: 20px;
    border-bottom: 1px solid #87a79c;
    border-collapse: collapse;
    text-align: center;
    margin-bottom: 1em;
}

col :nth-child(0) {
    width: 2rem;
}


td > a, h1 > span, h2 > span {
    text-decoration: none;
    background: linear-gradient(80deg,pink, rgb(247, 131, 247));
    -webkit-background-clip: text;
    color: transparent;
    display: inline-block;
    font-weight: bold; /* You can adjust the font weight */
    font-family: Arial, sans-serif; /* You can adjust the font family */
}

image {
    height:20px;
}

footer {
    background-color: #333;
    font-size: 20px;
    color: white;
    display: flex;
    justify-content: space-between;   
}
footer > div {
    padding: 15px;
    text-align: center;
  }

.item1 {grid-area: heading;}
.item2 {grid-area: posName;}
.item3 {grid-area: posNum; text-align: right;} 
.item4 {grid-area: comName;}
.item5 {grid-area: comNum; text-align: right;}
.item6 {grid-area: desc;}

.homeGrid {
    max-width: 17.5rem;
    display: grid;
    column-gap: .25rem;
    grid-template-areas: 
    'heading heading'
    'posName posNum'
    'comName comNum'
    'desc desc';
}

.company {
    font: italic;
}

.bottomnav {
    background-color: #333;
    overflow: hidden;
    border-radius: 5px;
  }

 /* Style the links inside the navigation bar */
 .bottomnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    font-size: 17px;
    border-radius: 5px;
    background-color: #04AA6D;
  }

