body {
    margin: 20px;
    background-image: linear-gradient(black, #333, black, #333, black);
    color: whitesmoke;
}

main {
    max-width: 1440px;
    margin: auto;
}

image {
    height:20px;
}

footer {
    background-color: #333;
    font-size: 20px;
    color: white;
    display: flex;
    justify-content: space-between;   
}

table, th, td {
    table-layout: fixed;
    margin:5px;
    width: 100%; 
    margin: auto;
    height: 20px;
    max-height: 20px;
    border-bottom: 1px solid #87a79c;
    border-collapse: collapse;
    text-align: center;
    margin-bottom: 1em;
}

caption {
    text-align: left;
    margin-bottom: 1em;
}

td > a, h2 > span {
    text-decoration: none;
    background: linear-gradient(80deg,pink, rgb(247, 131, 247));
    -webkit-background-clip: text;
    color: transparent;
    display: inline-block;
    font-weight: bold; /* You can adjust the font weight */
    font-family: Arial, sans-serif; /* You can adjust the font family */
}

.company {
    font: italic;
}

.bottomnav {
    background-color: #333;
    overflow: hidden;
    border-radius: 5px;
  }

 /* Style the links inside the navigation bar */
 .bottomnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    font-size: 17px;
    border-radius: 5px;
    background-color: #04AA6D;
  }

  footer > div {
    padding: 15px;
    text-align: center;
  }
