<!DOCTYPE html>
<html>
    <head>
       
    </head>
    <body>
        <div class="topnav" oninput="" >
            
            <a class="active" href="/">Home</a> 

            <main class="topnav"> 
                <div class="flex-container-column">

                    <input list="results" id="srch" placeholder="search company name"
                    onkeyup="suggest(getElementById('srch').value.toString().toLowerCase(), '<%= companyList %>' , event)">

                    <datalist id="results" >
                        <option id="res0" name="res0" placeholder="result0" ></option>
                        <option id="res1" name="res1" placeholder="result1" ></option>                
                        <option id="res2" name="res2" placeholder="result2" ></option>            
                        <option id="res3" name="res3" placeholder="result3" ></option>
                    </datalist>

                </div>
            </main> 
        </div>
    </body>
</html>

